* {
    padding: 0;
    margin: 0;
    border: 0;
    text-decoration: none;
    
   
    
   
}

.navbar {
    background-color: #ffffff; /* Color de fondo del Navbar */
    color: #000000; /* Color de fuente del Navbar */
    width: 100%; /* El Navbar ocupa toda la pantalla */
    display: flex;
    flex-direction: row;
    height: 15%;
  
  }
  
  .sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #d41919; /* Color de fondo del Navbar cuando se vuelve pegajoso */
    color: #000000; /* Color de fuente del Navbar cuando se vuelve pegajoso */
    z-index: 9999;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2); /* Sombra del Navbar cuando se vuelve pegajoso */
    display: flex;
    flex-direction: row;
  }
  .logo {
    width: 3rem; /* Altura de la imagen del logo */
  }
  
.navbar-collapse {
    display: flex;
    align-items: center;
  }
  @media (max-width: 767px) {
    .navbar {
      height: auto; /* Altura automática del Navbar en dispositivos pequeños */
    }
  }
  
  /* Estilos para el Navbar cuando se vuelve pegajoso */
  .sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    color: #000000;
    z-index: 9999;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  }